{% extends 'base_auth.html' %} {% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
      <div class="card mt-3 shadow-sm">
        <div class="card-body">
          <div class="card-title py-3 text-center">
            <h4>Reset password</h4>
          </div>
          <form action="{% url 'request-renew-link' %}" method="post">
            {% csrf_token %}
  
            {% include 'partials/_messages.html' %}
  
            <div class="form-group mb-3">
              <input type="email" name="email" placeholder="Email" class="form-control form-control-sm" id="emailField"
                value="{{fieldValues.email}}" />
            </div>
  
            <div class="emailFeedBackArea invalid-feedback" style="display:none"></div>

  
            <input type="submit" value="Send" class="btn btn-block btn-primary submit-btn mt-4" />
          </form>
        </div>
  
      </div>
    </div>
  </div>
  
  <script src="{% static 'js/register.js' %}"></script>

{% endblock content %}